.all_crea_img {
    padding: 5rem;
}

.img_nos_crea {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
}

.img_nos_crea img {
    width: 20rem;
    height: auto;
    border-radius: 5%;
}

.all_jardin {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.img_crea {
    text-align: center;
}

.img_crea img {
    border-radius: 7%;
    width: 6.5rem;
    height: auto;
}

.all_elagage {
    padding: 0.5rem;
    background-color: #3a5a40;
    color: #f6f7f8;
}

.elagage_illu {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.elagage_illu img {
    border-radius: 5%;
    width: 15rem;
    height: auto;
}

.txt_elagage {
    text-align: center;
}

.txt_elagage h4 {
    font-size: 1.2rem;
}

.all_massif {
    margin-top: 4rem;
}

.massif_illu {
    display: flex;
    justify-content: center;
}

.massif_illu img {
    padding: 0.5rem;
    border-radius: 10%;
    width: 18rem;
    height: auto;
}

.txt_massif {
    text-align: center;
}

.txt_massif h4 {
    font-size: 1.2rem;
}

.terra_all {
    margin-top: 4rem;
    padding: 1rem;
    background-color: #614e42;
    color: #f6f7f8;
}

.terra_illu {
    display: flex;
    justify-content: center;
}

.terra_illu img {
    border-radius: 10%;
    padding: 1rem;
    width: 18rem;
    height: auto;
}

.txt_terra {
    text-align: center;
}

.txt_terra h4 {
    font-size: 1.2rem;
}

.taillage_desktop {
    display: block;
}

.taillage_all {
    margin-top: 4rem;
    padding: 1rem;
}

.main_taillage {
    display: flex;
    justify-content: center;
}

.main_taillage img {
    border-radius: 2%;
    width: 19rem;
    height: auto;
}

.txt_taillage {
    text-align: center;
}

.txt_taillage h4 {
    font-size: 1.2rem
}

.sous_taillage {
    display: flex;
    justify-content: center;
}

.sous_taillage img {
    padding: 0.7rem;
    border-radius: 15%;
    width: 16rem;
    height: auto;
}


@media (min-width:690px) {
    .img_nos_crea {
        margin-top: 2rem;
    }

    .img_nos_crea img {
        width: 30rem;
    }

    .all_jardin {
        margin-top: 6rem;
    }

    .img_crea img {
        width: 11rem;
    }

    .img_crea h4,
    p {
        font-size: 1.5rem;
    }

    .all_elagage {
        margin-top: 5rem;
        padding: 1rem;
    }

    .elagage_illu {
        padding: 2rem;
    }

    .elagage_illu img {
        width: 30rem;
    }

    .txt_elagage {
        text-align: center;
    }

    .txt_elagage h4 {
        font-size: 1.7rem;
    }

    .all_massif {
        margin-top: 5rem;
    }

    .massif_illu img {
        padding: 1rem;
        width: 28rem;
    }

    .txt_massif h4 {
        font-size: 1.8rem;
    }

    .txt_massif p {
        padding: 0.5rem;
        font-size: 1.7rem;
    }

    .terra_all {
        margin-top: 5rem;
        padding: 1rem;
    }

    .terra_illu img {
        width: 30rem;
    }

    .txt_terra h4 {
        font-size: 1.7rem;
    }

    .taillage_desktop {
        display: block;
    }

    .taillage_all {
        margin-top: 5rem;
    }

    .main_taillage img {
        width: 35rem;
    }

    .txt_taillage h4 {
        font-size: 1.7rem
    }

    .sous_taillage img {
        padding: 1rem;
        width: 30rem;
    }
}

@media (min-width:1300px) {
    .img_nos_crea {
        margin-top: 2rem;
    }

    .img_nos_crea img {
        width: 100vh;
    }

    .all_jardin {
        margin-top: 10rem;
    }

    .img_crea img {
        width: 23rem;
    }

    .all_elagage {
        padding: 1rem;
    }

    .elagage_illu {
        padding: 2rem;
    }

    .elagage_illu img {
        width: 100vh;
    }

    .txt_elagage h4 {
        font-size: 2.3rem;
    }

    .all_massif {
        margin-top: 10rem;
        padding: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .massif_illu {
        
    }

    .massif_illu img {
        padding: 1rem;
        width: 40rem;
    }

    .txt_massif h4 {
        font-size: 2.3rem;
    }

    .terra_all {
        margin-top: 10rem;
        padding: 1.5rem;
    }

    .terra_illu img {
        padding: 1rem;
        width: 100vh;
    }

    .txt_terra h4 {
        font-size: 2rem;
    }

    .taillage_desktop {
        display: flex;
        justify-content: space-evenly;
    }

    .taillage_all {
        margin-top: 10rem;
    }

    .main_taillage img {
        width: 100vh;
    }

    .txt_taillage h4 {
        font-size: 2rem
    }

    .sous_taillage img {
        padding: 1rem;
        width: 40rem;
    }
}